body{

}

.jumbotron-home
{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.jumbotron-minimal
{
    background-color: rgba(0, 0, 0, 0.9);
}



.jumbotron-minimal-small
{
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
}

.jumbotron-minimal-forms
{
    color: white;
    background-color: rgba(0, 0, 0, 0.95);
}
