<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Contact</title>
        <link rel="stylesheet" href="css/app.css" type="text/css">	
        <link href="http://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" type="text/css">
        <link href="css/ys.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    </head>
<body ng-app="blueBikeLandingPage">
   <div class="bg-pages">                                                                       
     <div class="navbar-general">                                                             
       <div class="container">                                                              
         <a href="index.html" class="btn-navbar btn-navbar-brand tp-md-up-2 tp-sm-in-2 tp-xs-in-1">Home</a>                                                                                   
         <a href="#" class="btn-navbar btn-navbar-other tp-md-up-2 tp-sm-in-2 tp-xs-in-1 active">Contact</a>                                                                              
         <a href="about.html" class="btn-navbar btn-navbar-other tp-md-up-2 tp-sm-in-2 tp-xs-in-1">About</a>                                                                                  
       </div>                                                                               
     </div>                                                                                   
</div>  
    <div class="container-fluid contact-content row-xs-13-over contact-page-cta login-cluster form-cluster-md-12">
	<div class="row" ng-controller="formValidator">
	<div ng-show="badFlag" ng-hide="!badFlag" class="modal-alert" ng-click="resetGUIFlags()">
	<div class="modal-alert-container modal-submission-bad" ng-click="$event.stopPropagation()">
	  <div class="row">
	    <div class="col-md-12">
	      <h1 class="text-xs-center">Could Not Submit Email</h1>
	      <h4 class="text-xs-center">The data you entered was not valid.</h4>
	      <hr class="m-t-2 m-b-3 starlight-failure">
	    </div>
	  </div>
	  <div class="row text-xs-left">
	    <div class="col-md-12 ">
	      <p>Unfourtunately for whatever reason, our system thinks that the data you entered may not be correct.
	      Please try re-entering and try again.</p>
	    </div>
	      <div class="text-xs-center">
	        <button ng-click="resetGUIFlags()" class="btn btn-cta m-t-0">Okay</button>
	      </div>
	  </div>
	</div>
      </div>
     <div ng-show="goodFlag" ng-hide="!goodFlag" class="modal-alert" ng-click="resetGUIFlags()">
	<div class="modal-alert-container modal-submission-good" ng-click="$event.stopPropagation()">
	  <div class="row">
	    <div class="col-md-12">
	      <h1 class="text-xs-center">Success</h1>
	      <h4 class="text-xs-center">Your email has been sent to Blue Bike Studios.</h4>
	      <hr class="m-t-3 m-b-3 starlight-success">
	    </div>
	  </div>
	  <div class="row text-xs-center">
	    <div class="col-md-12">
	      <p>We'll get back to you as soon as possible!</p>
	    </div>
	     <div class="text-xs-center">
	        <button ng-click="resetGUIFlags()" class="btn btn-cta m-t-0">Okay</button>
	     </div>
	  </div>
	</div>
      </div>
        <div class = "top-xs-1-over">
	    <div class="form-cluster-md-4 jumbotron-minimal-forms">
		<div class="form-cluster-title form-cluster-custom ">
		    <h4 class="tp-sm-up-5 text-uppercase text-xs-center m-b-3">Contact Me</h4>
		</div>
		<div class="row m-t-1">
		    <div class="form-group col-md-10 col-md-offset-1 ">
			<input ng-focus="focusForm(1)" ng-blur="defocusForm()" ng-focus="checkName()" ng-change="checkName()" ng-model="name" type="text" class="form-control m-t-2" placeholder="Name" id="name"></input>
			<input ng-focus="focusForm(4)"ng-blur="defocusForm()" ng-focus="checkEmail()" ng-change="checkEmail()" ng-model="email" type="text" class="form-control m-t-2" placeholder="Email Address" id="email"></input>
			<input ng-focus="focusForm(3)" ng-blur="defocusForm()" ng-focus="checkPhone()" ng-change="checkPhone()" ng-model="phone" type="text" class="form-control m-t-2" placeholder="Phone Number" id="phone"></input>
			<textarea ng-focus="focusForm(2)" ng-blur="defocusForm()" ng-focus="checkMessage()" ng-change="checkMessage()" ng-model="message" rows="3" ng-model="name" type="text" class="form-control m-t-2" placeholder="Message" id="input"></textarea>
			<button ng-click="refreshGUIFlags()"class="btn btn-cta btn-block m-t-3 block-center" href="" id="submission">Submit</button>
		</div>
	   </div>     
	    </div>
    </div>
	</div>
        <div class="navbar navbar-fixed-bottom bg-white">
            <p class="text-xs-center hidden-sm-down m-b-0 m-t-0">Copyright Milford Accounting, 2016</p>
        </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.min.js" integrity="sha256-55Jz3pBCF8z9jBO1qQ7cIf0L+neuPTD1u7Ytzrp2dqo=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
  <script src="js/contact-application/app.js"></script> 
  <script src="js/contact-application/forms.js"></script> 
    </body>
</html>
